<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body style="background-color: grey">
<div th:insert="~{/user/fragments/header :: userHeader}"></div>
<!--<iframe id="ytplayer" type="text/html" width="50%" height="100%" src="https://www.youtube.com/embed/qauMGSJAdkU?&amp;enablejsapi=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;html5=1" frameborder="0" style="opacity: 1; z-index: 1; position: relative;" allow="autoplay">
</iframe>-->
<!--<iframe width="100%" height="100%"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>-->
</body>
</html>